@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Oswald:wght@200&display=swap');

:root{
    --color1: #006a6a;
    --color2: #2e8178;
    --color3: #ec7804;
    --color4: #b47434;
    --color5: #292828;
    --color6: #ffffff;

    max-width: 69rem;
    margin: 0 auto;
}

body{
    background-color:#212529;
}

.nav{
    background-color: var(--color4);
    box-shadow: 0.2rem 0.2rem 0 var(--color6);
}

.nav__h1{
    /* border: solid 0.2rem var(--color6);
    border-radius: 0.5rem; */
    
}

.navbar-toggler-icon{
    color: var(--color6);
}

/* INDEX */

.h2__frase{
    color: var(--color4);
    /* border-top: var(--color6) solid 0.13rem;
    border-bottom: var(--color6) solid 0.13rem; */
    font-weight: bold;
}

.span__frase{
    color: var(--color1);
}

.h3__cat{
    padding: 5rem 1.2rem;
}

.h3__cat:hover{
    color: var(--color3);
    transform: scale(1.05);   
    cursor: pointer; 
    user-select: none;
}

.h3__cat1{
    box-sizing: border-box;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(../img/productos-s-tacc.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: var(--color6) 0.2rem solid;
    border-radius: 0.5rem;
    color: var(--color6);
}

.h3__cat2{
    box-sizing: border-box;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(../img/condimentos.jpeg);
    border: var(--color6) 0.2rem solid;
    background-position: center center;
    border-radius: .5rem;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color6);

}
.h3__cat3{
    box-sizing: border-box;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(../img/frutos-secos.jpg);
    border: var(--color6) 0.2rem solid;
    border-radius: 0.5rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color6);

}
.h3__cat4{
    box-sizing: border-box;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(../img/harinas.jpg);
    border: var(--color6) 0.2rem solid;
    border-radius: 0.5rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color6);

}
.h3__cat5{
    box-sizing: border-box;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(../img/vegano.jpg);
    border: var(--color6) 0.2rem solid;
    border-radius: 0.5rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color6);
}

.btn__vermas{
    width: 10rem;
    background-color: var(--color4);
    border: var(--color6) 0.15rem solid;
    border-radius: 0.5rem;
}

.btn__vermas a{
    color: var(--color6);
}

.btn__index:hover{
    background-color: #212529;
    transform: scale(1.05);
}

/* OFERTAS */

.p__ofertas{
    color: var(--color6);
}

.a__pedidos{
    color: var(--color3);
}

.card__ofertas{
    background-color: var(--color5);
    box-shadow: 0.1rem 0.1rem 0.4rem rgb(25,25,25);
    transition: 0.3s;

}

.card__ofertas:hover{
    transform: scale(1.02);
}



footer{
    background-color: var(--color2);
    box-shadow: 0.2rem 0.2rem 0 var(--color6);

}

.img__redes{
    width: 2.5rem;
    margin: 0.5rem;
    fill: var(--color6);
}
